<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="left" >
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="mainContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" expose-aside-when="large">
        <ion-header-bar class="bar-stable"></ion-header-bar>
        <ion-content>
            <div class="list">
                <div class="item" ui-sref="app.home" menu-close><i ng-class="{'icon ion-home':platform=='android', 'icon ion-ios-home':platform!='android'}"> </i>Home</div>
                <div class="item" ui-sref="app.listexpenses" menu-close><i class="icon ion-social-usd"> </i>Expenses</div>
                <div class="item" ui-sref="app.categories"menu-close><i class="icon ion-pricetags"> </i>Budget Planner</div>
                <div class="item" ui-sref="app.accounts" menu-close><i class="icon ion-card"> </i>Accounts</div>
                <div class="item"></div>
                <div class="item" menu-close>Settings</div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
