<ion-view view-titile="Add New Account">

  <!-- <ion-nav-buttons side="secondary">
  <a class="button button-clear" >Cancel</a>
</ion-nav-buttons> -->
<ion-content padding="true">
  <form name="submitCard" novalidate="" ng-submit="save({id:card.id,name:card.name,description:card.description,budget:card.budget,valid:submitCard.$valid})">
    <div class="list">
      <input type="hidden" ng-model="card.id"/>
      <label class="item item-input" ng-class="{'has-errors':submitCard.name.$invalid, 'no-errors':submitCard.name.$valid}">
        <input class="expense-input" name="name" ng-model="card.name" type="text" placeholder="Account Name" ng-minlength="6" ng-maxlength="100" required>
      </label>
      <div ng-messages="submitCard.name.$error" class="error-container" ng-show="submitCard.name.$error" ng-errors="submitCard.name.$error">
        <div ng-messages-include="error-list.html"></div>
      </div>
      <label class="item item-input" ng-class="{'has-errors': submitCard.desc.$invalid, 'no-errors': submitCard.desc.$valid }">
        <input class="expense-input" name="desc" ng-model="card.description" type="text" placeholder="Description" ng-minlength="6" ng-maxlength="100"  required>
      </label>
      <div ng-messages="submitCard.desc.$error" class="error-container" ng-show="submitCard.desc.$error" ng-errors="submitCard.desc.$error">
        <div ng-messages-include="error-list.html"></div>
      </div>
      <label class="item item-input" ng-class="{'has-errors': submitCard.budget.$invalid, 'no-errors': submitCard.budget.$valid}">
        <input class="expense-input" ng-model="card.budget" type="number" placeholder="Budget" ng-min="1" ng-max="10000" name="budget" required>
      </label>
      <div ng-messages="submitCard.budget.$error" class="error-container" ng-show="submitCard.budget.$error" ng-errors="submitCard.budget.$error">
        <div ng-messages-include="error-list.html"></div>
        <div class="error" ng-message="min">
          <i class="ion-information-circled ion-information-circled-red"></i>
          Minimum value of this field is 1!
        </div>
        <div class="error" ng-message="max">
          <i class="ion-information-circled ion-information-circled-red"></i>
          Maximum value of this field is 10000!
        </div>
      </div>
    </div>
    <button class="button button-block button-stable" type="submit">Done</button>
  </form>
</ion-content>
</ion-view>
