<ion-view view-titile="Add New Account">

  <ion-nav-buttons side="secondary">
    <a class="button button-clear" >Cancel</a>
  </ion-nav-buttons>
  <ion-content padding="true">
    <div class="list">
      <label class="item item-input">
        <input ng-model="Account.name" type="text" placeholder="Account Name">
      </label>
      <label class="item item-input">
        <input ng-model="Account.desc" type="text" placeholder="Description">
      </label>
      <label class="item item-input">
        <input ng-model="Account.budget" type="text" placeholder="Budget">
      </label>
    </div>
    <button class="button button-block button-stable">Done</button>
  </ion-content>
</ion-view>
