<ion-view view-title="Account List" padding="true">
  <ion-nav-buttons side="secondary">
    <a class="button button-clear icon ion-ios-plus-empty" ui-sref="app.addaccount"></a>
  </ion-nav-buttons>
  <ion-content>
    <div collection-repeat="card in cards">

      <div ui-sref="app.editaccount({id:card.id})" class="card" on-hold="showContextMenu()">
        <div class="item item-divider">{{card.name}}</div>
        <div class="item item-text-wrap">
          <span class="bold">Description:</span> {{card.description}}</br>
          <span class="bold">Amount:</span> {{card.budget}}</div>
        </div>

      </div>
    </ion-content>
  </ion-view>
