<ion-view view-title="Category List">
    <ion-content padding="true">
        <div class="card">
            <div class="item item-divider">Category List Page</div>
            <div class="item item-text-wrap">
                <ul><b>Todo</b>
                    <li>Need a button to add new item.</li>
                    <li>tap should take to details.</li>
                    <li>Long press should allow to mark for deletion.</li>
                    <li>if selected, delete button should appear.</li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>