/* Empty. Add your own CSS if you like */
/*element{*/
  /*--main-background-color: #c1272d;*/
/*}*/

.ion-information-circled-red {

  color:red;
}
.error-container {
  color:red;
}

.has-errors {
  border-right: 2px solid red;

}

.no-errors {
  border-right: 2px solid green;

}
.platform-ios .bar-stable{
    background-color: #c1272d;
    border-color: #6a1518;

}
.platform-ios .item{
  color: #400;
}
.platform-ios .item-divider{
    background-color: #c1272d;

    color:#ffffff;

}
.platform-ios .bar-stable .title{
  color: #ffffff;
}

.platform-ios .bar-stable .button.button-clear{
  color: #ffffff;
}

.platform-ios .button-block{
  background-color: #c1272d;
  color:#ffffff;
}

.platform-ios .expense-input {
  color:#400 !important; /*7F212E*/
}
.platform-ios input::-webkit-input-placeholder {
color: #A07279 !important;
}

.platform-ios color: #A07279 !important;
}

.platform-ios input::-moz-placeholder {  /* Firefox 19+ */
color: #A07279 !important;
}

.platform-ios input:-ms-input-placeholder {
color: #A07279 !important;
}
/* Android */
.platform-android .bar-stable{
    background-color: darkblue;
    color: white;
}

.platform-android .item{
  color: #004;
}
.platform-android .item-divider{
    background-color: darkblue;

    color:#ffffff;

}
.platform-android .bar-stable .title{
  color: #ffffff;
}

.platform-android .bar-stable .button.button-clear{
  color: #ffffff;
}

.platform-android .button-block{
  background-color: darkblue;
  color:#ffffff;
}

.platform-android .expense-input {
  color:#004 !important;/*3A22A6 */
}

.platform-android input::-webkit-input-placeholder {
color: #7279a0 !important;
}

.platform-android color: #003 !important;
}

.platform-android input::-moz-placeholder {  /* Firefox 19+ */
color: #003 !important;
}

.platform-android input:-ms-input-placeholder {
color: #003 !important;
}
.bold{
  font-weight: bold;
}
